RewriteEngine On

# =========================
# SHOP CATEGORY ROUTE
# =========================
RewriteRule ^pages/products/shop/category/([^/]+)/?$ /pages/products/shop.php?category=$1 [L,QSA]

# =========================
# HILANGKAN .PHP
# =========================
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [L]

RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?]
RewriteRule ^ %1 [R=301,L]